@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: #FBFCFA !important;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-white: #fff;
  --color-black: #000;
  --nav-btn-color: #0E4072;
  --primary-font-size: 16px;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;
  --owl-btn-color: #34c230;
  --font-family-montserrat: "Montserrat", sans-serif;
}

body.offcanvas-menu:before {
  opacity: 1;
  z-index: 1002;
  visibility: visible;
}

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?10si43');
  src: url('fonts/icomoon.eot?10si43#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?10si43') format('truetype'), url('fonts/icomoon.woff?10si43') format('woff'), url('fonts/icomoon.svg?10si43#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-menu:before {
  content: "\e5d2";
}

.icon-linkedin-square:before {
  content: "\f08c";
  background-color: var(--color-black);
  color: var(--color-white);
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  display: inline-block;
  position: relative;
  color: #b3b3b3;
}

a,
a:hover {
  text-decoration: none !important;
}

a::after {
  content: '';
  position: absolute;
  width: auto;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--nav-btn-color) !important;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.site-navbar {
  z-index: 1999;
  position: relative;
  width: 100%;
  padding: 0.4rem 104px 12px 98px;
}

.site-logo img {
  max-width: 78px;
  width: 100%;
}

.toggle-button a {
  color: var(--nav-btn-color) !important;
}

.site-navbar .site-logo {
  z-index: 3;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu>li {
  display: inline-block;
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu>li>a {
  color: var(--nav-btn-color);
  font-size: var(--primary-font-size);
  margin-right: 71px;
  font-weight: var(--font-weight-normal);
  padding: 14px 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 79%;
  position: absolute;
  text-align: left;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-left: 0px;
  background: #FBFCFA !important;
  -webkit-transition: 0.2s 0s;
  -o-transition: 0.2s 0s;
  transition: 0.2s 0s;
  border: 2px solid rgb(174, 174, 188);
  padding: 24px;
  line-height: 40px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li>a {
  display: block;
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
  color: var(--color-black) !important;
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 19.5px;
  text-align: left;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a::after {
  margin: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a:hover:after {
  transform: scaleX(1.56);
  transform-origin: bottom left;
}

.site-navbar .site-navigation .site-menu .has-children:hover>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:focus>.dropdown,
.site-navbar .site-navigation .site-menu .has-children:active>.dropdown {
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

/* responsive part  */
.site-mobile-menu {
  width: 225px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #FBFCFA !important;
  height: calc(150vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 4px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  position: relative;
  padding: 0px 16px 20px 73px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
  line-height: 45px;
  scrollbar-width: none;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: var(--nav-btn-color) !important;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .nav-link.active {
  color: #007bff;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 10px;
  top: 17px;
  z-index: 20;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  color: var(--nav-btn-color);
  background: transparent;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: "icomoon", serif;
  content: "\f077";
  position: absolute;
  top: 41%;
  left: 200%;
  -webkit-transform: translate(50%, 50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(180deg);
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap>li {
  display: block;
  position: relative;
  float: left;
  width: 80%;
}

.site-mobile-menu .site-nav-wrap>li>a {
  font-size: var(--primary-font-size);
  padding: 10px 0;
  display: block;
  position: relative;
  color: var(--nav-btn-color) !important;
  text-align: right;
}

.site-mobile-menu .site-nav-wrap>li>ul {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 33px;
}

.site-mobile-menu .site-nav-wrap>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>a {
  padding-left: 40px;
  font-size: var(--primary-font-size);
  color: var(--nav-btn-color);
  text-align: right;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li {
  display: block;
}

.site-mobile-menu .site-nav-wrap>li>ul>li>ul>li>a {
  font-size: var(--primary-font-size);
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"]>li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper.is-sticky .site-navbar {
  background-color: #FBFCFA;
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
}

.sticky-wrapper.is-sticky .site-navbar ul li a.active {
  color: var(--nav-btn-color) !important
}

.sticky-wrapper .shrink {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.site-mobile-menu .site-nav-wrap a::after,
nav ul>li>a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  margin: 9px 20px 0 0;
}

.site-navbar .site-navigation .site-menu .has-children ul>li>a::after,
nav ul .has-children ul li a::after {
  content: '';
  position: absolute;
  width: 63%;
  transform: scaleX(0);
  height: 2px;
  transition: transform .5s ease-out;
}

nav ul>li>a:hover:after {
  transform: scaleX(1);
}

.site-logo a {
  color: var(--nav-btn-color) !important;
  font-size: 32px;
  font-weight: var(--font-weight-medium);
  padding: 0 !important;
  letter-spacing: 0.07em;
}

.site-navbar .site-navigation .site-menu li a.contact-link {
  background-color: var(--color-black);
  color: var(--color-white) !important;
  padding: 14px 13px !important;
  margin-right: 0 !important;
  border-radius: 8px;
}

.about-section {
  margin-top: 46px;
  margin-bottom: 96px;
}

.solution-section {
  margin-top: 46px;
}

.pro-sec-1 {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  padding: 0 48px;
  text-align: center;
}

.sol-sec-4 {
  line-height: 35px;
}

.sol-sec-4 img {
  width: 100%;
  max-height: 450px;
  height: 100%;
  border-radius: 5px;
}

.sol-sec-2 img {
  width: 100%;
  max-height: 421px;
  height: 100%;
  border-radius: 5px;
}

.project-1-title {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  line-height: 32px;
  letter-spacing: 0.07em;
  margin: 24px 0;
}

.project-1-content {
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  padding: 0 48px;
  text-align: start;
}

.services-img img {
  width: 100%;
  border-radius: 5px;
}

.service-title {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 31px;
}

.service-sub-title {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  line-height: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 24px;
}

.ser-sec-1 {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  text-align: justify;
  margin-bottom: 48px;
}

.fintech-section {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  text-align: justify;
  margin-bottom: 24px;
}

.service-desc {
  margin-bottom: 48px;
  padding: 0 48px;
}

/* solutions section */
.solution-container {
  margin-top: 35px;
  margin-bottom: 88px;
}

.solution-title {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 29.26px;
  letter-spacing: 0.07em;
  margin-bottom: 48px;
}

.product-title {
  margin: 24px 0;
  font-weight: var(--font-weight-medium);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.07em;
}

.product-content {
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  text-align: justify;
  max-width: 1036px;
  padding: 0 28px;
}

.menu a {
  text-transform: uppercase;
}

.link-sol {
  padding: 0 !important;
  margin-bottom: 24px;
}

.nav-btn::after,
.contact-link::after {
  transform: scaleX(0) !important;
}

/* contact us */
.contact-section {
  margin-top: 46px;
}

/* service section */
.service-section {
  margin-top: 46px;
  margin-bottom: 96px;
}

.sol-img {
  max-width: 1036px;
  width: 100%;
  max-height: 481px;
  border-radius: 5px;
}

.sol-img-3 {
  max-width: 317px;
  width: 100%;
  height: 281px;
  border-radius: 5px;
}

.rocket-box {
  column-gap: 18px;
  max-width: 1440px;
  width: 100%;
}

.rocket-box img {
  min-height: 421px;
  height: 100%;
  width: 100%;
  max-width: 471px;
  border-radius: 5px;
}

/* project */
.rustom-content {
  padding: 0 35px 0 48px;
}

.sol-section {
  margin-bottom: 48px;
}

.about-us-heading {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 0.07em;
  margin-bottom: 20px;
}

.about-us-content {
  font-size: 18px;
  font-weight: var(--font-weight-normal);
  line-height: 45px;
  letter-spacing: 0.07em;
  padding: 0 48px;
  text-align: justify;
}

.home-desc {
  text-align: center;
  color: #1A1B1F;
  margin-bottom: 56px;
  /* padding-left: 48px; */
  /* padding-right: 48px; */
}

.home-desc p {
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 1px;
  text-align: start;
  padding: 10px 0;
  text-align-last: center;
}

.home-title {
  font-size: 28px;
  line-height: 39.01px;
  letter-spacing: 1px;
  font-weight: var(--font-weight-normal);
  margin-bottom: 8px;
}

.contact-title {
  margin-bottom: 32px;
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  letter-spacing: 1px;
}

.contact-description {
  margin-bottom: 32px;
  padding: 0 48px;
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 32px;
  text-align: left;
}

.contact-detail .address {
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
}

.address-1 {
  font-size: var(--primary-font-size);
  font-weight: var(--font-weight-normal);
  line-height: 24px;
  letter-spacing: 0.05em;
  text-align: left;
}

.address-txt {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 12px;
}

.project-content {
  margin-bottom: 48px;
}

.sticky-wrapper .site-navbar .nav-container {
  margin-top: 0;
}

.item img {
  min-height: 200px;
  width: 100% !important;
}

.main-container {
  margin-right: 96px;
  margin-left: 96px;
  margin-bottom: 88px;
}

.mains-container {
  margin-right: 96px;
  margin-left: 96px;
}

.second-container {
  margin: 20px 79px 56px;
  font-size: var(--primary-font-size);
  letter-spacing: 1px;
  line-height: 19.5px;
}

.nav-container {
  margin-top: 6px;
  margin-bottom: 6px;
}

.site-navbar .site-navigation .site-menu li a.service-link {
  margin-right: 61px
}

.service-sub-titles {
  margin-bottom: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.address-row {
  padding: 0 48px;
}

/* footer  */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 29px 0 0;
  background: var(--color-black);
  flex-direction: column;
  align-items: center;
}

.menu {
  max-width: 724px;
  margin-left: 25px;
  margin-right: 25px;
  width: 100%;
}

footer .menu a {
  color: var(--color-white);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 56px;
  letter-spacing: 0.101em;
  text-wrap: nowrap;
}

.footer-sub-div {
  color: var(--color-white);
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 56px;
  letter-spacing: 0.101em;
  text-wrap: nowrap;
  list-style: none;
}

.footer-sub-div .subdiv-link {
  font-size: 14px;
  font-weight: var(--font-weight-normal);
  line-height: 10px;
  letter-spacing: 0.1em;
  text-align: justify;
  text-transform: capitalize;
}

footer .social-media-links {
  margin-block: 32px 46px;
}

.social-media-links img {
  max-width: 32px;
  width: 100%;
}

.about-body {
  height: 100vh;
  display: flex;
  flex-direction: column
}

#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls {
  margin-top: var(--primary-font-size);
}

.bolded-text {
  font-weight: var(--font-weight-medium);
}

.owl-dots {
  margin-top: 1rem;
  text-align: center;
}

.owl-dot {
  display: inline !important;
  zoom: 1.2;
  margin-right: 10px !important;
}

.owl-dot.active {
  border: 2px solid var(--owl-btn-color) !important;
  border-radius: 50%;
  background-color: var(--color-black) !important;
}

.owl-dot.active span {
  background-color: var(--color-black);
  margin: 0;
}

.owl-dot span {
  display: block;
  width: 12px;
  height: 12px;
  filter: Alpha(Opacity=50);
  opacity: .5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
  margin: 0;
}

.sol-4-step .project-1-title {
  padding: 0 48px;
}

.defense-section {
  margin-bottom: 24px;
}

.carousel-captions {
  color: var(--color-white);
  left: 50%;
  bottom: 29px;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.65);
  max-width: 828px;
  width: 100%;
  height: 164px;
  padding: 20px 47px 8px;
  border-radius: 4px;
}

.financial-captions {
  color: var(--color-white);
  text-align: start !important;
  background-color: rgba(0, 0, 0, 0.65);
  top: 50%;
  left: 96px;
  transform: translate(0, -50%);
  max-width: 406px;
  width: 100%;
  padding: 28px 32px 24px 28px;
  border-radius: 4px;
  height: 252px;
}

.carousel-text {
  color: var(--color-white);
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 1px;
  margin-bottom: .5rem;
  text-wrap: nowrap;
}

.carousel-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.carousel-indicators li {
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  background-color: #665e5e !important;
  border: 0 !important;
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.carousel-indicators {
  top: 106% !important;
}

.carousel-indicators li.active {
  border: 2px solid var(--owl-btn-color) !important;
  border-top: 0;
  border-bottom: 0;
  width: 12px !important;
  height: 12px !important;
  margin-top: -1px;
  background-color: var(--color-black) !important;
}

.contact-detail {
  margin-bottom: 24px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5% !important;
  padding: .5rem !important;
  height: 47px;
  border-radius: 10px;
  opacity: 1 !important;
}

.carousel-control-prev {
  transform: translate(0%, -50%) !important;
  left: 3% !important;
  top: 50% !important;
}

.carousel-control-next {
  transform: translate(0, -50%) !important;
  right: 5% !important;
  top: 50% !important;
}

#carouselExampleIndicators span {
  width: 20px;
  height: 20px;
}

.carousel-item img {
  min-height: 360px;
}

.arrow-icon {
  max-width: 13px;
  width: 100%;
}