@media (max-width: 350px) {
  .site-navbar {
    padding: 0;
  }

  .menu {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }

  .about-us-content {
    font-size: 16px;
    text-align: justify;
  }

  .about-section {
    margin-top: 30px;
  }

  .about-section {
    margin-top: 36px;
    margin-bottom: 56px;
  }

  .about-us-heading {
    font-size: 20px;
  }

  .sol-img,
  .sol-img-3 {
    height: auto;
  }

  .solution-title {
    font-size: 20px;
  }

  .solution-container {
    margin-top: 36px;
    margin-bottom: 56px;
  }

  .second-container {
    margin-top: 36px;
  }

  .home-title {
    font-size: 26px;
    margin-bottom: 8px;
  }

  .home-desc {
    margin-bottom: 36px;
  }

  .service-desc {
    padding: 0 10px;
  }

  .address-row {
    flex-direction: column;
  }

  .contact-detail {
    margin-top: 20px;
  }

  .contact-section {
    margin-bottom: 56px;
  }

  .contact-title {
    margin-bottom: 36px;
    font-size: 20px;
  }

  .contact-description div {
    font-size: 16px;
  }

  .address {
    line-height: 40px;
    font-size: 15px;
  }

  .address-txt {
    font-size: 16px;
  }

  .contact-section {
    margin-top: 36px;
  }

  .pro-sec-1 {
    padding: 0 15px;
  }

  .project-content {
    margin-bottom: 56px;
  }

  .solution-section {
    margin-top: 36px;
    margin-bottom: 56px;
  }

  .solution-title {
    margin-bottom: 36px;
  }

  .solution-title p {
    font-size: 20px;
  }

  .pro-sec-1 {
    font-size: 16px;
  }

  .service-section {
    margin-top: 36px;
    margin-bottom: 56px;
  }

  .site-logo a {
    font-size: 24px;
    display: flex;
    align-items: center;
  }

  .site-logo img {
    height: 52px;
    width: 75px;
  }

  .nav-container {
    padding: 10px;
  }

  .site-mobile-menu .site-nav-wrap>li>a {
    font-size: 16px;
    padding: 10px 6px;
  }

  .site-mobile-menu .site-nav-wrap .arrow-collapse {
    right: 36px;
    top: 16px;
  }

  .site-mobile-menu .site-nav-wrap>li>ul>li>a {
    margin-bottom: 0;
    font-size: 16px !important;
  }
  .ser-sec-1{
    display: block ;
    margin-bottom: 43px;
  }
  .services-img{
    margin-right: 0 !important;
    
  }
  .services-img img{
    margin-bottom: 15px !important;
  }
  .site-mobile-menu {
    width: 251px;
  }
}
@media (max-width: 991.98px) {
 

  .logo {
    margin: 0 10px 0 30px;
  }
}
@media (max-width: 991.98px) {
  .site-navbar .site-logo {
    float: left;
    position: relative;
  }
}
@media (max-width: 991.98px) {
  .sticky-wrapper .shrink {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
} 
@media (max-width: 1061px) {
  .site-navbar .site-navigation .site-menu>li>a {
    margin-right: 36px !important;

  }
}

@media (max-width: 400px) {
  .sol-img {
    max-width: 285px !important;
    width: 100%;
  }
  
}

@media (max-width: 460px) {
  .sol-img {
    max-width: 374px !important;
  }

  /* project */
  .rocket-box {
    flex-direction: column;
  }



  .project-1-content {
    text-align: justify;
  }

  .project-1-title {
    text-align: justify;
  }

  .rustom-content {
    padding: 0 !important;
  }



  .rocket-box {
    margin-bottom: 0 !important;
  }




  .sol-section {
    margin-bottom: 40px !important;
  }

  /* home */
  .carousel-text {
    font-size: 24px !important;
    line-height: 34.07px !important;
    left: 22px !important;
    top: 15.68px !important;
  }

  .main-container {
    margin-right: 40px;
    margin-left: 40px;
}
}

@media (max-width:627px) {
  .sol-img {
    max-width: 508px !important;
  }

  .rocket-box img {
    min-height: 280px !important;
    height: 100% !important;
    width: 100% !important;
    max-width: 308px !important;
  }
}

@media (max-width:769px) {
  .sol-img {
    max-width: 600px;
  }


}

@media (max-width:990px) {
  .pro-sec-1 {
    padding: 0 40px;
  }
}

@media (min-width: 1440px) and (max-width: 1550px) {
  .common-container {
    margin-right: 202px !important;
    margin-left: 202px !important;
    
  }
}
@media (min-width:1442px) {
  .main-container {
    margin: auto auto !important;
    max-width: 1440px;
  }
}
@media (min-width:1441px) {
  .common-container {
    max-width: 1036px;
    width: 100%;
    margin: auto;
  }
}
